<app-page-header>This Is Page Header</app-page-header>
<app-slidebar>This is Slidebar</app-slidebar>
<app-categories>This Is Categories</app-categories>
<app-section1>This Is Section1</app-section1>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Products</h4>
        <p class="left-align light">
          <app-product>This Is Products</app-product>
        </p>
      </div>
    </div>
  </div>
</div>
<app-section2>This is Section2</app-section2>
<app-page-footer> This is Page Footer</app-page-footer>
