<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <div class="caption right-align">
          <h5 class="light grey-text text-lighten-3">
            L'Oréal Paris . Hair Color
          </h5>
          <h3>HAIR COLOUR</h3>
          <h5
            class="light grey-text text-lighten-3"
            style="line-height: 24px; font-size: 11px "
          >
            <p>
              To us you’re worth more than just a colour. L’Oréal Paris hair
              colour is tailor made for you.
            </p>
            <p>
              So whether you want ti look as young as you feel with Excellence
              Creme or find your colour crush
            </p>
            <p>with Casting Crème Gloss, we have the colour for you.</p>

            <p>
              we are obsessed with giving you beautiful hair.Harnessing the
              latest in scientific innovations and
            </p>
            <p>
              tailored to your hair needs,L'Oreal Paris Hair Care provides you
              with
            </p>
            <p>products that will give you stunning,celebrity-gorgeous hair</p>
          </h5>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax">
    <img [src]="imageSection2" alt="Unsplashed background img 2" width="100%" />
  </div>
</div>
