<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br /><br />
      <br /><br />
    </div>
  </div>

  <div class="parallax">
    <div class="slider">
      <ul class="slides">
        <li style="background-color: #e53d32">
          <img [src]="slideImg1" alt="Unsplashed background img 1" />

          <div class="caption right-align">
            <h5 class="light grey-text text-lighten-3">
              L'Oréal Paris . Haircare
            </h5>
            <h3>HAIRCARE</h3>
            <h5 class="light grey-text text-lighten-3" style="font-size: 11px ">
              <p>
                L'Oreal Paris is a true expert in beauty and in hair.With 3,313
                scientics and over over 100 years of research,
              </p>
              <p>
                we are obsessed with giving you beautiful hair.Harnessing the
                latest in scientific innovations and
              </p>
              <p>
                tailored to your hair needs,L'Oreal Paris Hair Care provides you
                with
              </p>
              <p>
                products that will give you stunning,celebrity-gorgeous hair
              </p>
            </h5>
          </div>
        </li>
        <li style="background-color: #441a4c">
          <img [src]="slideImg2" alt="Unsplashed background img 1" />

          <div class="caption left-align">
            <h5 class="light grey-text text-lighten-3">
              L'Oréal Paris . Makeup
            </h5>
            <h3>MAKEUP</h3>
            <h5 class="light grey-text text-lighten-3" style="font-size: 11px ">
              <p>
                We all want beautiful, camera-ready skin. L’Oréal Paris has
                developed
              </p>
              <p>
                the products best suited your skin type and needs for that
                flawless complexion.
              </p>
              <a
                class="dropdown-trigger light grey-text text-lighten-3"
                href="#!"
                data-target="dropdown1"
                >DISCOVER L'OREAL FACE MAKEUP
                <i class="material-icons">arrow_drop_down</i>
              </a>
            </h5>
          </div>
        </li>
        <li style="background-color: #441a4c">
          <img [src]="slideImg3" />

          <div class="caption right-align">
            <h5 class="light grey-text text-lighten-3">
              L'Oréal Paris . Makeup
            </h5>
            <h3>MAKEUP</h3>
            <h5 class="light grey-text text-lighten-3" style="font-size: 11px">
              <p>
                Don't just wear makeup Design your beauty. L’Oreal Makeup offers
                the complete range of makeup.
              </p>
              <p>
                Whether you need your everyday makeup or you’re getting ready
              </p>
              <p>
                for a girls’ night out, explore our range to find your match. A
                world of possibilities and
              </p>
              <p>
                beauty is there for the taking. Let yourself go. Dream,
                anticipate, dare. Because it’s yours. Because you’re worth it.
              </p>
            </h5>
          </div>
        </li>
        <li style="background-color: #441a4c">
          <img [src]="slideImg4" />

          <div class="caption center-align">
            <h3 style="color:#edd073">L'Oréal Paris</h3>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
