<footer class="page-footer new-backgroud">
  <div class="container">
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 style="color:#edd073">
              <strong>
                <i>L'Oréal Paris </i>
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/4/41/Flag_of_India.svg"
                  width="24"
              /></strong>
            </h5>

            <div class="col l4 offset-l2 s12">
              <ul>
                <li>
                  <a href="#!" style="color:#edd073">MAKEUP </a>
                </li>
                <li>
                  <a href="#!" style="color:#edd073">SKINCARE</a>
                </li>
                <li>
                  <a href="#!" style="color:#edd073">
                    HAIRCARE
                  </a>
                </li>
                <li>
                  <a href="#!" style="color:#edd073">HAIR COLOUR</a>
                </li>
                <li>
                  <a href="#!" style="color:#edd073">MEN</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col l4 offset-l2 s12" style="color:#edd073">
            <h5>Let Us Help You</h5>
            <ul>
              <li>
                <a href="#!" style="color:#edd073">Your Account</a>
              </li>
              <li>
                <a href="#!" style="color:#edd073">Returns Centre</a>
              </li>
              <li>
                <a href="#!" style="color:#edd073">
                  100% Purchase Protection
                </a>
              </li>
              <li>
                <a href="#!" style="color:#edd073">Amazon Assistant Download</a>
              </li>
              <li><a href="#!" style="color:#edd073">Help</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container brown-text text-lighten-3">
          © 2019 All Rights Reserved
          <a class="brown-text text-lighten-3 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by
      <a class="brown-text text-lighten-3" href="http://materializecss.com"
        >Sukanya Ingole</a
      >
    </div>
  </div>
</footer>
